# Python temporary files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Large CSV source files
# data/fcf_analytics_2526.csv
# data/Arbitros.csv

# Ignore raw data actas
fcf_analytics/data/
